<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Oswald|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
  <link rel="stylesheet" href="../css/jquery.cardify.css">
  <link rel="stylesheet" href="../css/demo.css">
  <link rel="icon" href="../assets/images/img.png">
  <title>Cardify</title>
</head>
<body>
  <nav class="container">
    <div class="row mt-3 text-center">
      <h1 class="col-12 col-sm-6 offset-sm-3 white center">Cardify sin Estilos</h1>
    </div>
      <div class="text-center mb-5 mt-3">
        <button type="button" class="btn btn-info btn-lg" id="return">INICIO</button>
        <button type="button" class="btn btn-info btn-lg" id="cardify-btn">DEMO</button>
      </div>
  </nav>
  <!-- Aplicando cardify -->
  <div class="container cardify-mode">
    <img src="../assets/images/paisaje1.jpg" alt="Relax yourself">
    <img src="../assets/images/paisaje2.jpg" alt="Be Happy">
    <img src="../assets/images/paisaje3.jpg" alt="Be Magic">
    <img src="../assets/images/paisaje4.jpg" alt="Enjoy">
    <img src="../assets/images/paisaje5.jpg" alt="Thank you :3">
    <img src="../assets/images/paisaje6.jpg" alt="Dont Worry">
    <img src="../assets/images/paisaje7.jpg" alt="Just be Happy">
    <img src="../assets/images/paisaje8.jpg" alt="Good Morning Princess">
    <img src="../assets/images/paisaje9.jpg" alt="Live your Live">
    <img src="../assets/images/paisaje10.jpg" alt="Dont Worry">
    <img src="../assets/images/paisaje11.jpg" alt="Be Magic">
    <img src="../assets/images/paisaje12.jpg" alt="Thank you :3">
    <img src="../assets/images/paisaje13.jpg" alt="Just be Happy">
    <img src="../assets/images/paisaje14.jpg" alt="Enjoy">
    <img src="../assets/images/paisaje15.jpg" alt="Be Happy">
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
  <script src="../js/jquery.cardify.js"></script>
</body>
</html>